<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitie weergave</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
</head>
<body>
    <div th:replace="fragments/navigation.html :: topNavigation(~{ :: .myLocation})">
        <div class="myLocation">Home</div>
    </div>
    <h1>Competities</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Competitie naam</th>
            <th>Clubs</th>
            <th>Voeg Club toe aan competitie</th>
            <th>Verwijder competitie</th>
        </tr>
        <tr th:each="competition: ${allCompetitions}">
            <td th:text="${competition.competitionId}" />

            <td><a th:href="@{/competition/{competitionName}
            (competitionName=${competition.competitionName})}" th:text="${competition.competitionName}"/></td>

            <td>
                <span th:each="club,iterStat : ${competition.clubs}">
                    <span th:text="${club.clubName}"/><th:block th:if="${!iterStat.last}">,</th:block>
                </span>
            </td>

            <td><a th:href="@{/addCompetitionClub/{competitionId}(competitionId=${competition.competitionId})}"/>
                Voeg Club toe aan competitie</td>

            <td><a th:href="@{/delete/{competitionId}(competitionId=${competition.competitionId})}"/>
                Verwijder</td>
        </tr>
    </table>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.5.2/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>