<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitie weergave</title>
</head>
<body>
    <h1>Competities</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Competitie naam</th>
        </tr>
        <tr th:each="competition: ${allCompetitions}">
            <td th:text="${competition.competitionId}" />
            <td th:text="${competition.competitionName}" />
        </tr>
    </table>
</body>
</html>