<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="fragments/meta.html :: metaInfo"/>
    <title th:text="${competition.competitionName} + ' detail'">Competitie detials</title>
</head>
<body>
    <div th:replace="fragments/navigation.html :: topNavigation(~{ :: .myLocation})">
        <div class="myLocation">Competitie details</div>
    </div>
    <h1>Competitie details van <span th:text="${competition.competitionName}" /></h1>
    <table>
        <tr>
            <th>Club id</th>
            <th>Club naam</th>
        </tr>
        <tr th:each="club: ${competition.clubs}">
            <td th:text="${club.clubId}" />
            <td th:text="${club.clubName}" />
        </tr>
    </table>
</body>
</html>