<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitie weergave</title>
</head>
<body>
    <h1>Competities</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Competitie naam</th>
            <th>Competitie link</th>
            <th>Club hash</th>
        </tr>
        <tr th:each="competition: ${allCompetitions}">
            <td th:text="${competition.competitionId}" />
            <td th:text="${competition.competitionName}" />
            <td><a th:href="@{/competition/{competitionName}
            (competitionName=${competition.competitionName})}" th:text="${competition.competitionName}"/></td>
            <td th:text="${competition.clubs}" />
        </tr>
    </table>

    <a sec:authorize="hasRole('ADMIN')" th:href="@{/user/new}">Gebruiker toevoegen</a>
    <a th:href="@{/club}">Club toevoegen</a>
    <a th:href="@{/competition/add}">Competitie toevoegen</a>
    <a th:href="@{/logout}">Uitloggen</a>
</body>
</html>